.ContactItem {
  width: 100%;
  margin: 1rem 0;
  .contact {
    display: flex;
    align-items: center;
    background-color: #191d2b;
    padding: 4rem 0;
    .right-items {
      margin-left: 2rem;
    }
    img {
      padding: 1rem;
      border: 1px solid #2e344e;
      margin-left: 2rem;
      width: 16%;
    }
    .right-items {
      h6 {
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
  }
}

.ContactPage {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 6rem;
  @media screen and (max-width: 1270px) {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-sect {
    width: 100%;
    // margin-left: 2rem;
    margin-top: 4rem;
  }
}
